/bootstrap/compiled.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

.buildpath
.project
.settings/
_ide_helper.php
.idea
app/config/local/database.php
MusicStreaming.iml
MusicStream.iml

.vagrant
.idea
Vagrantfile
Berksfile
Berksfile.lock
composer.phar
public/cache
vendor/composer/*
vendor/autoload.php