html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.panel{
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    box-shadow: none;
    padding-top: 20px;
}

.row-padded {
    padding: 15px;
    background-color: #F7F7F7;
    border: 1px solid #DDD;
    border-bottom: none;
}

.top{
    margin-top: 10px;
}
.row-padded .span4 {
    font-size: larger;
}

#topSongs{
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDD;
}

.lightbox-layer {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-box {
    width: 650px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #eee;
}

.lightbox-inner {
    padding: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background-color: #fff;
}

.lightbox-sub {
    width: 140px;
    float: left;
}

.lightbox-main {
    width: 320px;
    float: right;
}
.lightbox-box__follow,
.lightbox-box__outline {
    width: 730px;
    margin: 50px auto;
}

.lightbox-box__follow-inner,
.lightbox-box__inner {
    width: 730px;
    padding: 30px;
    border-radius: 2px;
    background-color: #fff;
}

.lightbox-box__box {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 730px;
}

.lightbox-box__inner {
    width: 100%;
}
